CONFIG VCCAUX = 3.3;

NET "SYSCLK" TNM_NET = SYSCLK;
TIMESPEC TS_SYSCLK = PERIOD "SYSCLK" 50 MHZ HIGH 50%;

NET "SYSCLK" LOC = P56 | IOSTANDARD = LVCMOS33;

# Onboard LEDs (Example mapping)
#NET "LED" LOC = P134 | IOSTANDARD = LVCMOS33;
NET "LED<0>" LOC = P134 | IOSTANDARD = LVCMOS33;
NET "LED<1>" LOC = P133 | IOSTANDARD = LVCMOS33;
NET "LED<2>" LOC = P132 | IOSTANDARD = LVCMOS33;
NET "LED<3>" LOC = P131 | IOSTANDARD = LVCMOS33;
NET "LED<4>" LOC = P127 | IOSTANDARD = LVCMOS33;
NET "LED<5>" LOC = P126 | IOSTANDARD = LVCMOS33;
NET "LED<6>" LOC = P124 | IOSTANDARD = LVCMOS33;
NET "LED<7>" LOC = P123 | IOSTANDARD = LVCMOS33;

// OHO DY1 7-Segment Display
NET "DY1_SER" LOC = P137 | IOSTANDARD = LVCMOS33;
NET "DY1_SCLK" LOC = P138 | IOSTANDARD = LVCMOS33;
NET "DY1_RCLK" LOC = P140 | IOSTANDARD = LVCMOS33;

# ESP SPI
NET "SPI_MOSI" LOC = P93 | IOSTANDARD = LVCMOS33;
NET "SPI_MISO" LOC = P92 | IOSTANDARD = LVCMOS33;
NET "SPI_SS" LOC = P87 | IOSTANDARD = LVCMOS33;
NET "SPI_SCK" LOC = P95 | IOSTANDARD = LVCMOS33;

NET "CMD_TICK" LOC = P33 | IOSTANDARD = LVCMOS33;  # IO_L2P_3 , SV2 Pin 11
NET "BYTE_TICK" LOC = P30 | IOSTANDARD = LVCMOS33;  # IO_L2P_3 , SV2 Pin 11

NET "DATA_BYTE<0>" LOC = P6 | IOSTANDARD = LVCMOS33;  # IO_L52P_3 , SV2 Pin 31
NET "DATA_BYTE<1>" LOC = P2 | IOSTANDARD = LVCMOS33;  # IO_L83P_3 , SV2 Pin 33
NET "DATA_BYTE<2>" LOC = P144 | IOSTANDARD = LVCMOS33;  # IO_L1P_HSWAPEN_0 , SV2 Pin 35
NET "DATA_BYTE<3>" LOC = P141 | IOSTANDARD = LVCMOS33;  # IO_L2N_0 , SV2 Pin 38
NET "DATA_BYTE<4>" LOC = P143 | IOSTANDARD = LVCMOS33;  # IO_L1N_VREF_0 , SV2 Pin 36
NET "DATA_BYTE<5>" LOC = P1 | IOSTANDARD = LVCMOS33;  # IO_L83N_VREF_3 , SV2 Pin 34
NET "DATA_BYTE<6>" LOC = P5 | IOSTANDARD = LVCMOS33;  # IO_L52N_3 , SV2 Pin 32
NET "DATA_BYTE<7>" LOC = P7 | IOSTANDARD = LVCMOS33;  # IO_L51N_3 , SV2 Pin 30

# EPROM 2716..27512 and SRAM 6116..62256 UCF
#NET "A<7>" LOC = P27 | IOSTANDARD = LVCMOS33;  # IO_L37P_3 , SV2 Pin 15
#NET "A<6>" LOC = P24 | IOSTANDARD = LVCMOS33;  # IO_L41P_GCLK27_3 , SV2 Pin 17
#NET "A<5>" LOC = P22 | IOSTANDARD = LVCMOS33;  # IO_L42P_GCLK25_TRDY2_3 , SV2 Pin 19
#NET "A<4>" LOC = P17 | IOSTANDARD = LVCMOS33;  # IO_L43P_GCLK23_3 , SV2 Pin 21
#NET "A<3>" LOC = P15 | IOSTANDARD = LVCMOS33;  # IO_L44P_GCLK21_3 , SV2 Pin 23
#NET "A<2>" LOC = P12 | IOSTANDARD = LVCMOS33;  # IO_L49P_3 , SV2 Pin 25
#NET "A<1>" LOC = P10 | IOSTANDARD = LVCMOS33;  # IO_L50P_3 , SV2 Pin 27
#NET "A<0>" LOC = P8 | IOSTANDARD = LVCMOS33;  # IO_L51P_3 , SV2 Pin 29
#NET "D<0>" LOC = P6 | IOSTANDARD = LVCMOS33;  # IO_L52P_3 , SV2 Pin 31
#NET "D<1>" LOC = P2 | IOSTANDARD = LVCMOS33;  # IO_L83P_3 , SV2 Pin 33
#NET "D<2>" LOC = P144 | IOSTANDARD = LVCMOS33;  # IO_L1P_HSWAPEN_0 , SV2 Pin 35
#NET "D<3>" LOC = P141 | IOSTANDARD = LVCMOS33;  # IO_L2N_0 , SV2 Pin 38
#NET "D<4>" LOC = P143 | IOSTANDARD = LVCMOS33;  # IO_L1N_VREF_0 , SV2 Pin 36
#NET "D<5>" LOC = P1 | IOSTANDARD = LVCMOS33;  # IO_L83N_VREF_3 , SV2 Pin 34
#NET "D<6>" LOC = P5 | IOSTANDARD = LVCMOS33;  # IO_L52N_3 , SV2 Pin 32
#NET "D<7>" LOC = P7 | IOSTANDARD = LVCMOS33;  # IO_L51N_3 , SV2 Pin 30
#NET "A<10>" LOC = P11 | IOSTANDARD = LVCMOS33;  # IO_L49N_3 , SV2 Pin 26
#NET "A<9>" LOC = P21 | IOSTANDARD = LVCMOS33;  # IO_L42N_GCLK24_3 , SV2 Pin 20
#NET "A<8>" LOC = P23 | IOSTANDARD = LVCMOS33;  # IO_L41N_GCLK26_3 , SV2 Pin 18
#
#NET "PIN_1" LOC = P33 | IOSTANDARD = LVCMOS33;  # IO_L2P_3 , SV2 Pin 11
#NET "PIN_2" LOC = P30 | IOSTANDARD = LVCMOS33;  # IO_L36P_3 , SV2 Pin 13
#NET "PIN_26" LOC = P26 | IOSTANDARD = LVCMOS33;  # IO_L37N_3 , SV2 Pin 16
#NET "PIN_27" LOC = P29 | IOSTANDARD = LVCMOS33 | PULLUP;  # IO_L36N_3 , SV2 Pin 14
#
#NET "PIN_22" LOC = P9 | IOSTANDARD = LVCMOS33 | PULLUP;  # IO_L50N_3 , SV2 Pin 28
#NET "PIN_20" LOC = P14 | IOSTANDARD = LVCMOS33 | PULLUP;  # IO_L44N_GCLK20_3 , SV2 Pin 24
#NET "PIN_23" LOC = P16 | IOSTANDARD = LVCMOS33 | PULLUP;  # IO_L43N_GCLK22_IRDY2_3 , SV2 Pin 22

############################
#### MOJO V3 Default UCF ###
############################
#
# For reference only
#
#NET "SYSCLK" TNM_NET = SYSCLK;
#TIMESPEC TS_SYSCLK = PERIOD "SYSCLK" 50 MHZ HIGH 50%;
#
#NET "SYSCLK" LOC = P56 | IOSTANDARD = LVCMOS33;
#NET "RST_N" LOC = P38 | IOSTANDARD = LVCMOS33;
#
## AVR / USB Interface
#NET "CCLK" LOC = P70 | IOSTANDARD = LVCMOS33;
#NET "SPI_MOSI" LOC = P44 | IOSTANDARD = LVCMOS33;
#NET "SPI_MISO" LOC = P45 | IOSTANDARD = LVCMOS33;
#NET "SPI_SS" LOC = P48 | IOSTANDARD = LVCMOS33;
#NET "SPI_SCK" LOC = P43 | IOSTANDARD = LVCMOS33;
#NET "SPI_CHANNEL<0>" LOC = P46 | IOSTANDARD = LVCMOS33;
#NET "SPI_CHANNEL<1>" LOC = P61 | IOSTANDARD = LVCMOS33;
#NET "SPI_CHANNEL<2>" LOC = P62 | IOSTANDARD = LVCMOS33;
#
#NET "AVR_TX" LOC = P55 | IOSTANDARD = LVCMOS33;
#NET "AVR_RX" LOC = P59 | IOSTANDARD = LVCMOS33;
#NET "AVR_RX_BUSY" LOC = P39 | IOSTANDARD = LVCMOS33;
#
## Onboard LEDs (Example mapping)
#NET "LED<0>" LOC = P134 | IOSTANDARD = LVCMOS33;
#NET "LED<1>" LOC = P133 | IOSTANDARD = LVCMOS33;
#NET "LED<2>" LOC = P132 | IOSTANDARD = LVCMOS33;
#NET "LED<3>" LOC = P131 | IOSTANDARD = LVCMOS33;
#NET "LED<4>" LOC = P127 | IOSTANDARD = LVCMOS33;
#NET "LED<5>" LOC = P126 | IOSTANDARD = LVCMOS33;
#NET "LED<6>" LOC = P124 | IOSTANDARD = LVCMOS33;
#
#### SV1 Pins ###
#NET "SV1_7" LOC = P58 | IOSTANDARD = LVCMOS33;   # IO_L14P_D11_2
#NET "SV1_8" LOC = P57 | IOSTANDARD = LVCMOS33;   # IO_L14N_D12_2
#NET "SV1_9" LOC = P67 | IOSTANDARD = LVCMOS33;   # IO_L2P_CMPCLK_2 
#NET "SV1_10" LOC = P66 | IOSTANDARD = LVCMOS33;   # IO_L2N_CMPMOSI_2 
#NET "SV1_11" LOC = P75 | IOSTANDARD = LVCMOS33;   # IO_L74P_AWAKE_1 
#NET "SV1_12" LOC = P74 | IOSTANDARD = LVCMOS33;   # IO_L74N_DOUT_BUSY_1
#NET "SV1_13" LOC = P79 | IOSTANDARD = LVCMOS33;   # IO_L47P_1 
#NET "SV1_14" LOC = P78 | IOSTANDARD = LVCMOS33;   # IO_L47N_1 
#NET "SV1_15" LOC = P81 | IOSTANDARD = LVCMOS33;   # IO_L46P_1 
#NET "SV1_16" LOC = P80 | IOSTANDARD = LVCMOS33;   # IO_L46N_1 
#NET "SV1_17" LOC = P83 | IOSTANDARD = LVCMOS33;   # IO_L45P_1 
#NET "SV1_19" LOC = P85 | IOSTANDARD = LVCMOS33;   # IO_L43P_GCLK5_1 
#NET "SV1_19" LOC = P82 | IOSTANDARD = LVCMOS33;   # IO_L45N_1 
#NET "SV1_20" LOC = P84 | IOSTANDARD = LVCMOS33;   # IO_L43N_GCLK4_1 
#NET "SV1_21" LOC = P88 | IOSTANDARD = LVCMOS33;   # IO_L42P_GCLK7_1 
#NET "SV1_22" LOC = P87 | IOSTANDARD = LVCMOS33;   # IO_L42N_GCLK6_TRDY1_1 
#NET "SV1_23" LOC = P93 | IOSTANDARD = LVCMOS33;   # IO_L41P_GCLK9_IRDY1_1 
#NET "SV1_24" LOC = P92 | IOSTANDARD = LVCMOS33;   # IO_L41N_GCLK8_1 
#NET "SV1_25" LOC = P95 | IOSTANDARD = LVCMOS33;   # IO_L40P_GCLK11_1 
#NET "SV1_26" LOC = P94 | IOSTANDARD = LVCMOS33;   # IO_L40N_GCLK10_1 
#NET "SV1_27" LOC = P98 | IOSTANDARD = LVCMOS33;   # IO_L34P_1 
#NET "SV1_28" LOC = P97 | IOSTANDARD = LVCMOS33;   # IO_L34N_1 
#NET "SV1_29" LOC = P100 | IOSTANDARD = LVCMOS33;   # IO_L33P_1 
#NET "SV1_30" LOC = P99 | IOSTANDARD = LVCMOS33;   # IO_L33N_1 
#NET "SV1_31" LOC = P102 | IOSTANDARD = LVCMOS33;   # IO_L32P_1 
#NET "SV1_32" LOC = P101 | IOSTANDARD = LVCMOS33;   # IO_L32N_1 
#NET "SV1_33" LOC = P105 | IOSTANDARD = LVCMOS33;   # IO_L1P_1 
#NET "SV1_34" LOC = P104 | IOSTANDARD = LVCMOS33;   # IO_L1N_VREF_1 
#NET "SV1_35" LOC = P112 | IOSTANDARD = LVCMOS33;   # IO_L66P_SCP1_0 
#NET "SV1_36" LOC = P111 | IOSTANDARD = LVCMOS33;   # IO_L66N_SCP0_0 
#NET "SV1_37" LOC = P115 | IOSTANDARD = LVCMOS33;   # IO_L65P_SCP3_0 
#NET "SV1_38" LOC = P114 | IOSTANDARD = LVCMOS33;   # IO_L65N_SCP2_0 
#NET "SV1_39" LOC = P117 | IOSTANDARD = LVCMOS33;   # IO_L64P_SCP5_0 
#NET "SV1_40" LOC = P116 | IOSTANDARD = LVCMOS33;   # IO_L64N_SCP4_0 
#NET "SV1_41" LOC = P119 | IOSTANDARD = LVCMOS33;   # IO_L63P_SCP7_0 
#NET "SV1_42" LOC = P118 | IOSTANDARD = LVCMOS33;   # IO_L63N_SCP6_0 
#NET "SV1_43" LOC = P121 | IOSTANDARD = LVCMOS33;   # IO_L62P_0 
#NET "SV1_44" LOC = P120 | IOSTANDARD = LVCMOS33;   # IO_L62N_VREF_0 
#
#### SV2 Pins ###
#NET "SV2_5" LOC = P31 | IOSTANDARD = LVCMOS33;   # IO_L31P_GCLK31_D14_2
#NET "SV2_6" LOC = P50 | IOSTANDARD = LVCMOS33;   # IO_L31N_GCLK30_D15_2
#NET "SV2_7" LOC = P41 | IOSTANDARD = LVCMOS33;   # IO_L64P_2
#NET "SV2_8" LOC = P40 | IOSTANDARD = LVCMOS33;   # IO_L64N_2
#NET "SV2_9" LOC = P35 | IOSTANDARD = LVCMOS33;   # IO_L1P_3 
#NET "SV2_10" LOC = P34 | IOSTANDARD = LVCMOS33;   # IO_L1N_VREF_3 
#NET "SV2_11" LOC = P33 | IOSTANDARD = LVCMOS33;   # IO_L2P_3 
#NET "SV2_12" LOC = P32 | IOSTANDARD = LVCMOS33;   # IO_L2N_3 
#NET "SV2_13" LOC = P30 | IOSTANDARD = LVCMOS33;   # IO_L36P_3 
#NET "SV2_14" LOC = P29 | IOSTANDARD = LVCMOS33;   # IO_L36N_3 
#NET "SV2_15" LOC = P27 | IOSTANDARD = LVCMOS33;   # IO_L37P_3 
#NET "SV2_16" LOC = P26 | IOSTANDARD = LVCMOS33;   # IO_L37N_3 
#NET "SV2_17" LOC = P24 | IOSTANDARD = LVCMOS33;   # IO_L41P_GCLK27_3 
#NET "SV2_18" LOC = P23 | IOSTANDARD = LVCMOS33;   # IO_L41N_GCLK26_3 
#NET "SV2_19" LOC = P22 | IOSTANDARD = LVCMOS33;   # IO_L42P_GCLK25_TRDY2_3 
#NET "SV2_20" LOC = P21 | IOSTANDARD = LVCMOS33;   # IO_L42N_GCLK24_3 
#NET "SV2_21" LOC = P17 | IOSTANDARD = LVCMOS33;   # IO_L43P_GCLK23_3 
#NET "SV2_22" LOC = P16 | IOSTANDARD = LVCMOS33;   # IO_L43N_GCLK22_IRDY2_3 
#NET "SV2_23" LOC = P15 | IOSTANDARD = LVCMOS33;   # IO_L44P_GCLK21_3 
#NET "SV2_24" LOC = P14 | IOSTANDARD = LVCMOS33;   # IO_L44N_GCLK20_3 
#NET "SV2_25" LOC = P12 | IOSTANDARD = LVCMOS33;   # IO_L49P_3 
#NET "SV2_26" LOC = P11 | IOSTANDARD = LVCMOS33;   # IO_L49N_3 
#NET "SV2_27" LOC = P10 | IOSTANDARD = LVCMOS33;   # IO_L50P_3 
#NET "SV2_28" LOC = P9 | IOSTANDARD = LVCMOS33;   # IO_L50N_3 
#NET "SV2_29" LOC = P8 | IOSTANDARD = LVCMOS33;   # IO_L51P_3 
#NET "SV2_30" LOC = P7 | IOSTANDARD = LVCMOS33;   # IO_L51N_3 
#NET "SV2_31" LOC = P6 | IOSTANDARD = LVCMOS33;   # IO_L52P_3 
#NET "SV2_32" LOC = P5 | IOSTANDARD = LVCMOS33;   # IO_L52N_3 
#NET "SV2_33" LOC = P2 | IOSTANDARD = LVCMOS33;   # IO_L83P_3 
#NET "SV2_34" LOC = P1 | IOSTANDARD = LVCMOS33;   # IO_L83N_VREF_3 
#NET "SV2_35" LOC = P144 | IOSTANDARD = LVCMOS33;   # IO_L1P_HSWAPEN_0 
#NET "SV2_36" LOC = P143 | IOSTANDARD = LVCMOS33;   # IO_L1N_VREF_0 
#NET "SV2_37" LOC = P142 | IOSTANDARD = LVCMOS33;   # IO_L2P_0 
#NET "SV2_38" LOC = P141 | IOSTANDARD = LVCMOS33;   # IO_L2N_0 
#NET "SV2_39" LOC = P140 | IOSTANDARD = LVCMOS33;   # IO_L3P_0 
#NET "SV2_40" LOC = P139 | IOSTANDARD = LVCMOS33;   # IO_L3N_0 
#NET "SV2_41" LOC = P138 | IOSTANDARD = LVCMOS33;   # IO_L4P_0 
#NET "SV2_42" LOC = P137 | IOSTANDARD = LVCMOS33;   # IO_L4N_0 
#NET "SV2_43" LOC = P134 | IOSTANDARD = LVCMOS33;   # IO_L34P_GCLK19_0 
#NET "SV2_44" LOC = P133 | IOSTANDARD = LVCMOS33;   # IO_L34N_GCLK18_0 
#NET "SV2_45" LOC = P132 | IOSTANDARD = LVCMOS33;   # IO_L35P_GCLK17_0 
#NET "SV2_46" LOC = P131 | IOSTANDARD = LVCMOS33;   # IO_L35N_GCLK16_0 
#NET "SV2_47" LOC = P127 | IOSTANDARD = LVCMOS33;   # IO_L36P_GCLK15_0 
#NET "SV2_48" LOC = P126 | IOSTANDARD = LVCMOS33;   # IO_L36N_GCLK14_0 
#NET "SV2_49" LOC = P124 | IOSTANDARD = LVCMOS33;   # IO_L37P_GCLK13_0 
#NET "SV2_50" LOC = P123 | IOSTANDARD = LVCMOS33;   # IO_L37N_GCLK12_0 

