CONFIG VCCAUX = 3.3;

NET "SYSCLK" TNM_NET = SYSCLK;
TIMESPEC TS_SYSCLK = PERIOD "SYSCLK" 50 MHZ HIGH 50%;

NET "SYSCLK" LOC = P56 | IOSTANDARD = LVCMOS33;
#NET "RST_N" LOC = P38 | IOSTANDARD = LVCMOS33;

# AVR / USB Interface
#NET "CCLK" LOC = P70 | IOSTANDARD = LVCMOS33;
#NET "SPI_MOSI" LOC = P44 | IOSTANDARD = LVCMOS33;
#NET "SPI_MISO" LOC = P45 | IOSTANDARD = LVCMOS33;
#NET "SPI_SS" LOC = P48 | IOSTANDARD = LVCMOS33;
#NET "SPI_SCK" LOC = P43 | IOSTANDARD = LVCMOS33;
#NET "SPI_CHANNEL<0>" LOC = P46 | IOSTANDARD = LVCMOS33;
#NET "SPI_CHANNEL<1>" LOC = P61 | IOSTANDARD = LVCMOS33;
#NET "SPI_CHANNEL<2>" LOC = P62 | IOSTANDARD = LVCMOS33;

#NET "AVR_TX" LOC = P55 | IOSTANDARD = LVCMOS33;
#NET "AVR_RX" LOC = P59 | IOSTANDARD = LVCMOS33;
#NET "AVR_RX_BUSY" LOC = P39 | IOSTANDARD = LVCMOS33;


# Onboard LEDs (Example mapping)
#NET "LED" LOC = P134 | IOSTANDARD = LVCMOS33;
NET "LED<0>" LOC = P134 | IOSTANDARD = LVCMOS33;
NET "LED<1>" LOC = P133 | IOSTANDARD = LVCMOS33;
NET "LED<2>" LOC = P132 | IOSTANDARD = LVCMOS33;
NET "LED<3>" LOC = P131 | IOSTANDARD = LVCMOS33;
NET "LED<4>" LOC = P127 | IOSTANDARD = LVCMOS33;
NET "LED<5>" LOC = P126 | IOSTANDARD = LVCMOS33;
NET "LED<6>" LOC = P124 | IOSTANDARD = LVCMOS33;
NET "LED<7>" LOC = P123 | IOSTANDARD = LVCMOS33;

// OHO DY1 7-Segment Display
NET "DY1_SER" LOC = P50 | IOSTANDARD = LVCMOS33;
NET "DY1_SCLK" LOC = P40 | IOSTANDARD = LVCMOS33;
NET "DY1_RCLK" LOC = P34 | IOSTANDARD = LVCMOS33;

# ESP SPI
NET "SPI_MOSI" LOC = P93 | IOSTANDARD = LVCMOS33;
NET "SPI_MISO" LOC = P92 | IOSTANDARD = LVCMOS33;
NET "SPI_SS" LOC = P87 | IOSTANDARD = LVCMOS33;
NET "SPI_SCK" LOC = P95 | IOSTANDARD = LVCMOS33;


# EPROM 27512
NET "WE" LOC = P32 | IOSTANDARD = LVCMOS33; # not used

NET "A<0>" LOC = P8 | IOSTANDARD = LVCMOS33;
NET "A<1>" LOC = P10 | IOSTANDARD = LVCMOS33;
NET "A<2>" LOC = P12 | IOSTANDARD = LVCMOS33;
NET "A<3>" LOC = P15 | IOSTANDARD = LVCMOS33;
NET "A<4>" LOC = P17 | IOSTANDARD = LVCMOS33;
NET "A<5>" LOC = P22 | IOSTANDARD = LVCMOS33;
NET "A<6>" LOC = P24 | IOSTANDARD = LVCMOS33;
NET "A<7>" LOC = P27 | IOSTANDARD = LVCMOS33;
NET "A<8>" LOC = P23 | IOSTANDARD = LVCMOS33;
NET "A<9>" LOC = P21 | IOSTANDARD = LVCMOS33;
NET "A<10>" LOC = P11 | IOSTANDARD = LVCMOS33;
NET "A<11>" LOC = P16 | IOSTANDARD = LVCMOS33;
NET "A<12>" LOC = P30 | IOSTANDARD = LVCMOS33;
NET "A<13>" LOC = P26 | IOSTANDARD = LVCMOS33;
NET "A<14>" LOC = P29 | IOSTANDARD = LVCMOS33;
NET "A<15>" LOC = P33 | IOSTANDARD = LVCMOS33;
NET "D<0>" LOC = P6 | IOSTANDARD = LVCMOS33;
NET "D<1>" LOC = P2 | IOSTANDARD = LVCMOS33;
NET "D<2>" LOC = P144 | IOSTANDARD = LVCMOS33;
NET "D<3>" LOC = P141 | IOSTANDARD = LVCMOS33;
NET "D<4>" LOC = P143 | IOSTANDARD = LVCMOS33;
NET "D<5>" LOC = P1 | IOSTANDARD = LVCMOS33;
NET "D<6>" LOC = P5 | IOSTANDARD = LVCMOS33;
NET "D<7>" LOC = P7 | IOSTANDARD = LVCMOS33;
NET "CE" LOC = P9 | IOSTANDARD = LVCMOS33;
NET "OE" LOC = P14 | IOSTANDARD = LVCMOS33;

# RAM 62256
#NET "A<15>" LOC = P32 | IOSTANDARD = LVCMOS33; # not used

#NET "A<0>" LOC = P8 | IOSTANDARD = LVCMOS33;
#NET "A<1>" LOC = P10 | IOSTANDARD = LVCMOS33;
#NET "A<2>" LOC = P12 | IOSTANDARD = LVCMOS33;
#NET "A<3>" LOC = P15 | IOSTANDARD = LVCMOS33;
#NET "A<4>" LOC = P17 | IOSTANDARD = LVCMOS33;
#NET "A<5>" LOC = P22 | IOSTANDARD = LVCMOS33;
#NET "A<6>" LOC = P24 | IOSTANDARD = LVCMOS33;
#NET "A<7>" LOC = P27 | IOSTANDARD = LVCMOS33;
#NET "A<8>" LOC = P23 | IOSTANDARD = LVCMOS33;
#NET "A<9>" LOC = P21 | IOSTANDARD = LVCMOS33;
#NET "A<10>" LOC = P11 | IOSTANDARD = LVCMOS33;
#NET "A<11>" LOC = P16 | IOSTANDARD = LVCMOS33;
#NET "A<12>" LOC = P30 | IOSTANDARD = LVCMOS33;
#NET "A<13>" LOC = P26 | IOSTANDARD = LVCMOS33;
#NET "WE" LOC = P29 | IOSTANDARD = LVCMOS33;
#NET "A<14>" LOC = P33 | IOSTANDARD = LVCMOS33;
#NET "D<0>" LOC = P6 | IOSTANDARD = LVCMOS33;
#NET "D<1>" LOC = P2 | IOSTANDARD = LVCMOS33;
#NET "D<2>" LOC = P144 | IOSTANDARD = LVCMOS33;
#NET "D<3>" LOC = P141 | IOSTANDARD = LVCMOS33;
#NET "D<4>" LOC = P143 | IOSTANDARD = LVCMOS33;
#NET "D<5>" LOC = P1 | IOSTANDARD = LVCMOS33;
#NET "D<6>" LOC = P5 | IOSTANDARD = LVCMOS33;
#NET "D<7>" LOC = P7 | IOSTANDARD = LVCMOS33;
#NET "CE" LOC = P9 | IOSTANDARD = LVCMOS33;
#NET "OE" LOC = P14 | IOSTANDARD = LVCMOS33;
